<div class="alert alert-info" role="alert">
  <h3>NOVO ALUNO</h3>
</div>
<br>
<hr>
<div class="container">

    <p-toolbar>
        <div class="ui-toolbar-group-left">
            <button pButton type="button" label="New" icon="fa-plus"></button>
            <button pButton type="button" label="Open" icon="fa-folder-open"></button>

        </div>

        <div class="ui-toolbar-group-right">
            <button pButton type="button" icon="fa-search"></button>
            <button pButton type="button" icon="fa-trash"></button>
        </div>
    </p-toolbar>

  <br>
  <p-card>

      <form>
        <div class="col-sm-4">

          <div class="form-group">

            <div class="ui-inputgroup">
            <span class="ui-inputgroup-addon"><i class="fa fa-user"></i></span>
            <input class="form-control" type="text" pInputText placeholder="Nome">
            </div>

          </div>

          <div class="form-group">

              <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-envelope"></i></span>
              <input class="form-control" type="text" pInputText placeholder="Email">
              </div>

          </div>

          <div class="form-group">

              <div class="ui-inputgroup">
              <span class="ui-inputgroup-addon"><i class="fa fa-phone"></i></span>
              <input class="form-control" type="text" pInputText placeholder="Nome">
              </div>

            </div>
        </div>

      </form>

  </p-card>


</div>


